@{
    ViewBag.Title = "Homepage";
}


<body class="indexBody">
    <main class="center">
        <div class="row">
            <div class="col-md-6">
                <div class="abtMeImgContainer">
                    <div class="selfImage">
                        <a href="https://www.linkedin.com/in/tyler-rowe-67245b20b/">
                        <img style="max-height: 300px; padding-top: 2em;" src="~/Content/img/itsme.jpg" />
                        </a>
                    </div>
                    <div>
                        <a href="https://www.centriq.com/">
                            <img style="padding-right: 12em; padding-top: 1em;" src="~/Content/img/centriqlogo.png" />
                        </a></div>
                </div>
            </div>
            <div class="col-md-6">
                <div style="padding-top: 2em; padding-bottom: 2em;" class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                About Me
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="abtMeText">
                                    Hello! My name is Tyler Rowe. Thank you for your time!
                                    I am a Fullstack Web Developer Who has spent the last 9 years working in the service industry 6 of
                                    which were in the Marine Corps where I started
                                    forming skills that could help me in the civilian world
                                    such as being goal orientated, patient, and passionate. I love technology, coming from
                                    a family who worked either on or with computers most of our lives, and thats
                                    what really woke up my desire to really want to learn everything I can about development.
                                    Currently, I am working through the 
                                    <a href="https://www.centriq.com/"> Centriq </a> Full Stack Web Development program
                                    where I've learned Front-End/Middle-Tier/and Backend development, Centriq has 
                                    pushed me to begin learning Python and Unity. When I'm not coding, I'm usually spending time with family, or spending time outside. I love the great outdoors and music festivals are a huge passion of mine along with video games and cooking. I also have a portfolio of projects that
                                    I have put together over the last few months during class and also outside of class, I'd love
                                    if you could take a look at them and let me know what you think!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Portfolio Pieces
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                A link to my portfolio pieces will go here.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Classmates/Future Professionals.
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Here I will have a link to another page on my website that has pictures of my classmates as well as links to their personal websites.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>
